/* Reset */
html, body, 
ul, li, div {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: inherit;
  color: inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  box-sizing: inherit;
  background: transparent;
}

body {
    background-color: #f8f8f8
}

ul {
    list-style: none;
}

/* Content */
#content {
    margin: 50px auto;
    width: 80%;
    font-family: sans-serif;
}

.list {
    display: flex;
    flex-wrap: wrap;
    /* justify-content: center; */
    align-items: center;
}

.item {
    height: 30px;
    line-height: 30px;
    padding: 20px;
    margin: 10px;
    border: 1px solid #3b404a;
    border-radius: 5px;
    box-shadow: 5px 10px #F0F0F0;
    text-align: center;
    font-size: 28px;
    cursor: pointer;
}

.inspect {
    border: 1px solid #DBA27E;
    background: #DBA27E;
    color: #F7ECE5;
}
.inspect:before {
    content: '🔎';
    position: absolute;
    top: 0px;
}

.swap {
    border: 1px solid #8399BF;
    background: #8399BF;
    color: #4463A0;
}

.swap:before {
    content: '🔄';
    position: absolute;
    top: 0px;
}

.sorted {
    border: 1px solid #B1C8C1;
    background-color: #B1C8C1;
    color: #EDFFFF;
}
.sorted:before {
    content: '✅';
    position: absolute;
    top: 0px;
}

.unsorted {
    border: 1px solid #7B869B;
    color: #7B869B;
}

.number {
    position: relative;
}